  body {
      font-family: Arial, sans-serif;
      margin: 20px;
  }

  h2 {
      color: #333;
  }

  form {
      max-width: 400px;
      margin: 20px 0;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
  }

  label {
      display: block;
      margin: 10px 0 5px;
  }

  input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
  }

  button {
      background-color: #000000;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  button:hover {
      background-color: #3b3d3b;
  }

  #resultado {
      margin-top: 20px;
      color: #333;
  }