body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #1e1e1e;
    color: #fff; /* Texto branco */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    width: 560px;
    padding-top: 60px;
}

.models {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 450px;
    display: flex;
    border: 3px solid #a29ba5; /* Cinza */
    margin-top: 30px;
    border-radius: 20px;
    padding: 15px;
    margin-left: 20px;
}

.logo:hover {
    background-color: #3c3f4150; 
}

.hikvision, .motorola, .lenovo, .intelbras {
    height: 85px;
}
