body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #0d1b2a;
    color: white;
}

/* CSS GLOBAL */ 
.header {
    display: flex;
    align-items: center;
}

.icon-home {
    width: 35px;
    padding-right: 10px;
}

.flex{
    display: flex;
    flex: 1;
    padding-right: 20px;
}

/* CSS DO FORMULÁRIO DO RTSP */
form {
    max-width: 400px;
    margin: 10px 0;
    padding: 20px;
    border: 2px solid #778da9;
    border-radius: 5px;
    background-color: #1b263b;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #e0e1dd;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8ea9cc;
}

#resultado {
    margin-top: 20px;
    color: #333;
}

/* CSS DO FORMULÁRIO DO NOME */ 
.container-cam { 
    margin-left: 100px;
}